extends layout.pug
include ../components/category-card/category-card.pug

block head
  link(rel="stylesheet", href="index.scss")

block content
  section.sale-cards
    .container
      .cards-capture
        .card.card-blue
          .txt-capture
            span.natural 100% Natural
            h3.smoothie Fresh Smoothie &amp; Summer Juice
            p Best selling summer juice with natural extracts.
            a.shop-now-btn(href="#") Shop now
          img.smoothie-bottle(
            src="../assets/images/smothie.png",
            alt="smoothie"
          )
        .card.card-green
          .txt-capture.small-card
            span 20% Off
            h3 Fruits &amp; Vegetables
            a.shop-category(href="#") Shop the category
              svg(width="8px", height="8px")
                use(href="../assets/svg/arrow.svg#arrow")
          img.fruits(src="../assets/images/fruits.png", alt="fruits")
        .card.card-brown
          .txt-capture.small-card
            span 15% Off
            h3 Bakery Products
            a.shop-category(href="#") Shop the category
              svg(width="8px", height="8px")
                use(href="../assets/svg/arrow.svg#arrow")
          img.bakery(src="../assets/images/bakery.png", alt="bakery")
  section.category
    .container
      .txt-wrapper
        h2 Category
        a.see-all(href="#") View All Categories
          svg.arrow(width="8px", height="8px")
            use(href="../assets/svg/arrow-grey.svg#arrow-grey")
      .category-cards
        +category-card("Fruits & Veges", "../assets/svg/gift.svg#gift",)
        +category-card("Breads & Sweets", "../assets/svg/gift.svg#gift",)
        +category-card("Wine Drinks", "../assets/svg/gift.svg#gift",)
        +category-card("Oil & Ghee", "../assets/svg/gift.svg#gift",)
        +category-card("Raw Meat", "..//assets/svg/gift.svg#gift",)
        +category-card("Natural Herbs", "../assets/svg/gift.svg#gift",)
