extends layout.pug
include ../components/category-card/category-card.pug
include ../components/new-arrivals-card/new-arrivals-card.pug
include ../components/trending-products/trending-products-card.pug
include ../components/top-offered-card/top-offered-products.pug
include ../components/inputs/input.pug

block head
  link(rel="stylesheet", href="index.scss")

block content
  section.sale-cards
    .container
      .cards-capture
        .card.card-blue
          .txt-capture
            span.natural 100% Natural
            h3.smoothie Fresh Smoothie &amp; Summer Juice
            p Best selling summer juice with natural extracts.
            a.shop-now-btn(href="#") Shop now
          img.smoothie-bottle(
            src="../assets/images/smothie.png",
            alt="smoothie"
          )
        .card.card-green
          .txt-capture.small-card
            span 20% Off
            h3 Fruits &amp; Vegetables
            a.shop-category(href="#") Shop the category
              svg(width="8px", height="8px")
                use(href="../assets/svg/arrow.svg#arrow")
          img.fruits(src="../assets/images/fruits.png", alt="fruits")
        .card.card-brown
          .txt-capture.small-card
            span 15% Off
            h3 Bakery Products
            a.shop-category(href="#") Shop the category
              svg(width="8px", height="8px")
                use(href="../assets/svg/arrow.svg#arrow")
          img.bakery(src="../assets/images/bakery.png", alt="bakery")
  section.category
    .container
      .txt-wrapper
        h2 Category
        a.see-all(href="#") View all categories
          svg.arrow(width="8px", height="8px")
            use(href="../assets/svg/arrow-grey.svg#arrow-grey")
      .category-cards
        +category-card("Fruits & Veges", "../assets/svg/gift.svg#gift",)
        +category-card("Breads & Sweets", "../assets/svg/gift.svg#gift",)
        +category-card("Wine Drinks", "../assets/svg/gift.svg#gift",)
        +category-card("Oil & Ghee", "../assets/svg/gift.svg#gift",)
        +category-card("Raw Meat", "..//assets/svg/gift.svg#gift",)
        +category-card("Natural Herbs", "../assets/svg/gift.svg#gift",)
  section.new-arrivals
    .container
      .txt-wrapper
        h2 Newly arrived brands
        a.see-all(href="#") View all categories
          svg.arrow(width="8px", height="8px")
            use(href="../assets/svg/arrow-grey.svg#arrow-grey")
      .new-arrivals-cards
        +new-arrivals-card("../assets/images/jar.png", "Amber Jar", "Honey best nectar you wish to get")
        +new-arrivals-card("../assets/images/herb.png", "Pure Herb", "Pure herb the only natural brand")
        +new-arrivals-card("../assets/images/tuna.png", "Tuna", "Where's tuna? Tuna, clear choice!")
        +new-arrivals-card("../assets/images/hotz.png", "Hotz", "the one junk food that’s natural")
  section.trending-products
    .container
      .txt-wrapper
        h2 Trending products
        .trending-products-capture
          ul.trending-products-nav
            li.menu-item
              a(href="#") All
            li.menu-item
              a(href="#") Fruits &amp; Veges
            li.menu-item
              a(href="#") Juices
            li.menu-item
              a(href="#") Breads &amp; Sweets
            li.menu-item
              a(href="#") Oil &amp; Ghee
            li.menu-item
              a(href="#") Raw Meats
            li.menu-item
              a(href="#") Natural Herbs

      .trending-products-cards
        +trending-products-card("../assets/images/watermelon-juice.png", "Sunstar fresh melon juice", "unit", "4.5", "$18.00")
        +trending-products-card("../assets/images/tomatos.png", "Fresh local tomatoes", "kg", "4.0", "$5.00")
        +trending-products-card("../assets/images/cucumber.png", "Fresh cucumber", "kg", "4.5", "$6.00")
        +trending-products-card("../assets/images/tomatketchup.png", "Heinz tomato ketchup", "unit", "5.0", "$9.00")
        +trending-products-card("../assets/images/avocados.png", "Local avocado", "kg", "3.5", "$12.00")
        +trending-products-card("../assets/images/biscuits.png", "Munch crunchy cookies", "unit", "4.5", "$8.00")
        +trending-products-card("../assets/images/bananas.png", "Fresh bananas", "kg", "4.0", "$12.00")
        +trending-products-card("../assets/images/orange-juice.png", "Fresh orange juice", "unit", "4.5", "$10.00")
        +trending-products-card("../assets/images/milk.png", "Pure dairy milk ", "unit", "5.0", "$12.00")
        +trending-products-card("../assets/images/raspberries.png", "Raspberries", "kg", "3.5", "$12.00")

  section.sales-cards
    .container
      .sales-cards-capture
        .sale-card.card-orange
          .txt-capture
            span.discount Up to 15% Off
            h3 Luxa dark chocolate
            p Chocolate is only the happiness that you can eat.
            a.shop-it-btn(href="#") Shop now
          img(src="../assets/images/pexels-lukas.png", alt="chocolate")
        .sale-card.card-blue
          .txt-capture
            span.discount Up to 25% Off
            h3 Creamy muffins
            p Very tasty & creamy vanilla flavour creamy muffins.
            a.shop-it-btn(href="#") Shop now
          img(src="../assets/images/muffin.png", alt="chocolate")

  section.top-offered
    .container
      h2.top-offered-txt Top offered products
      .top-offered-products-cards
        +top-offered-card("../assets/images/barista-milk.png", "-25%", "Pacific barista beverage", "unit", "4.5", "$12.00", "$8.00", "Sold: 30/40")
        +top-offered-card("../assets/images/kombucha.png", "-35%", "Kombucha local lilikoi", "unit", "4.0", "$8.00", "$6.00", "Sold: 9/25")
        +top-offered-card("../assets/images/lays.png", "-15%", "Cheese flavoured Lays", "unit", "4.5", "$10.00", "$8.00", "Sold: 23/50")
        +top-offered-card("../assets/images/oat-milk.png", "-12%", "Oat milk barista", "unit", "5.0", "$8.00", "$5.00", "Sold: 12/35")
        +top-offered-card("../assets/images/relax-hearts.png", "-10%", "Dr. raw relax hearts", "unit", "3.0", "$5.00", "$3.00", "Sold: 5/25")

  section.news-letter
    .container
      .news-letter-wrapper
        .text-wrapper
          h3.form-header Get 20% discount on your first purchase.
          p.form-txt Just Sign Up &amp Register it now to become member of Templates Jungle.
        .form-capture
          label(for="email") Email address
            +input("email", "search", "Email")
          label(for="password") Password
            +input("password", "search", "Create a password...")
          label(for="password") Repeat password
            +input("password", "search", "Repeat the password...")
          button.register-btn Register it now
