nav.main-nav
  .container
    .nav-capture
      select(name="category")
        option Shop by departments
      ul.menu
        li.menu-item
          a(href="#") Home
        li.menu-item
          a(href="#") Shop
        li.menu-item
          a(href="#") Page
        li.menu-item
          a(href="#") Services
        li.menu-item
          a(href="#") Contact
        li.menu-item
          a(href="#") Offers
      a.get-coupon(href="#")
        svg(width="26px", height="24px")
          use(href="../assets/svg/gift.svg#gift")
        span.get-coupon-code(href="#") Get your coupon code
