footer.main-footer {
  padding: 90px 0 185px;

  .main-footer-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 50px;

    @media (max-width: 1370px) {
      grid-template-columns: repeat(4, auto);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .media-capture {
      display: grid;

      @media (max-width: 900px) {
        grid-column: 1/5;
      }

      @media (max-width: 560px) {
        grid-column: 1;
      }

      .logo {
        max-width: 242px;
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 55px;

        .logo-capture {
          h1 {
            font-family: JosefinSans-Bold, sans-serif;
            font-size: 31px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #222;

            .accent {
              color: #ffc43f;
            }
          }

          .description {
            color: #818181;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            display: block;
          }
        }
      }

      .social-media-capture {
        display: flex;
        gap: 13px;
        align-items: center;

        a {
          border-radius: 4px;
          border: 1px solid #efefef;
          box-shadow: 0 4px 12px rgb(0 0 0 /3%);
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .links {
      font-size: 24px;
      font-family: OpenSans-SemiBold, sans-serif;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        color: #747474;
        letter-spacing: 0.02em;
        font-size: 16px;
        font-family: OpenSans-Regular, sans-serif;
      }
    }

    .newsletter-capture {
      max-width: 366px;

      @media (max-width: 900px) {
        grid-column: 1/5;
      }

      @media (max-width: 560px) {
        grid-column: 1;
      }

      h3 {
        font-size: 24px;
        font-family: OpenSans-SemiBold, sans-serif;
        margin-bottom: 15px;
      }

      .discription {
        color: #747474;
        letter-spacing: 0.02em;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
      }

      .input-capture {
        display: flex;
        width: 100%;

        .input {
          border: none;
          background-color: #f1f1f1;
          padding: 17px;
          width: 100%;

          &::placeholder {
            color: #949494;
            font-size: 16px;
            letter-spacing: 0.02em;
          }
        }

        .send-btn {
          display: flex;
          gap: 6px;
          align-items: center;
          background-color: #222;
          border: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.06em;
          padding: 17px;
          white-space: nowrap;
        }
      }
    }
  }
}
